<%
var page = '';
%>
<%- include includes/header.ejs %>
<br>
<h1>You must log in to continue</h1>
<a href="/auth" class="btn btn-default"><i class="fa fa-user"></i> Log In</a>

<%- include includes/footer.ejs %>
